<div class="container mt-4">
	<h1>Ajouter un ingrédient</h1>

	<%= simple_form_for([@cocktail, @dose]) do |f| %>
	  <%= f.association :ingredient, :label => "Ingrédient" %>
	  <%= f.input :description, :label => "Quel est le dosage de l'ingrédient ?" %>
	  <%= f.button :submit %>
	<% end %>
</div>